asn1crypto==0.23.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
-e git+https://github.com/NobleNetworkCharterSchools/comer-contact-notes.git@062ec2930b41a81d7bf1ad9a943715093a788f3d#egg=comer_contact_notes
cryptography==2.1.2
elasticsearch==5.3.0
idna==2.6
-e git+https://github.com/noblenetworkcharterschools/noble-logging-utils.git@0d292d844aa372954fce5c3fc4cc61540f1d0f26#egg=noble_logging_utils
pycparser==2.18
pyOpenSSL==17.3.0
requests==2.18.4
-e git+https://github.com/noblenetworkcharterschools/salesforce-utils.git@4c2947898a6db55ddcb5574f94ca4393bf30aea7#egg=salesforce_utils
simple-salesforce==0.73.0
six==1.11.0
urllib3==1.22
